.home {
  display: grid;
  grid-template:
    "home-sidenav home-main" auto
    / minmax(auto, 150px) 3fr;
}

.home .lander {
  padding: 80px 0;
  text-align: center;
}

.home .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.home .lander p {
  color: #999;
}

.home .notes h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  overflow: hidden;
  line-height: 1.5;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.home .notes p {
  color: #666;
}

.home .lander div {
  padding-top: 20px;
}
.home .lander div a:first-child {
  margin-right: 20px;
}

.property-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  justify-content: left;
  gap: 1em;
  max-width: 950px;
}